/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;600&family=Kavivanar&display=swap');



/*
bg color palettes
#f2eaec;
#F9DC5C;
#FAF4D0;
#7ED3B2;
#eaceb4;
#B0F4E6;
#FFE1C6;
#CEE27D;
#f7f5e6;
*/

/* global reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: var(--font-color);
}

/* general styling */
:root {
  /* --bg-color: #f7f5e6; */
  --font-color: #333a56;
}

body {
  font-family: 'Work Sans';
  background-color: var(--bg-color);
  transition: background  1s;
}

.is-flex {
  display: flex;
}

.hide {
  visibility: hidden;
}

/* header */
.nav {
  margin: 50px;
  justify-content: space-between;
  align-items: center;
}

/* main section */
.main-title {
  font-size: 4rem;
  font-weight: 300;
  text-align: center;
  margin: 50px auto;
}

#home {
  
}

#main-container {
  justify-content: center;
  align-items: center;
}

.left {
  height: 350px;
  width: 250px;
  align-items: center;
  justify-content: center;
  font-size: 7rem;
  padding-bottom: 100px;
}

.right {
  padding-left: 30px;
  flex-direction: column;
}

.rules-list li {
  line-height: 3rem;
  font-size: 1.5rem;
  margin-bottom: 35px;
}

.rules-list li::before {
  content: '📋';
  font-size: 1.5rem;
  margin-right: 25px;
}

#btn-start {
  font-weight: 600;
  font-size: 1.4rem;
  height: 70px;
  width: 300px;
  margin: 0 auto;
  border-radius: 50px;
  text-transform: uppercase;
}

#btn-start:active {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transform: translateY(-1px);
}

/* in-game section */
#in-game {
  position: absolute;
  top: 120px;
  left: 0;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

/* #bg-img{
  background-image:url("../img/5820.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  opacity: 0.2;
  width: 100%;
  height: 100%;
} */

#timer {
  width: 60%;
  height: 0.8rem;
  border-radius: 20px;
  margin: 25px auto;
  justify-content: center;
  align-items: center;
}

.time-counter {
  height: 80%;
  width: 98%;
  border-radius: 20px;
  background-color: var(--font-color);
  transition: width 0.5s;
}

.game-container {
  min-width: 300px;
  width: 30%;
  flex-direction: column;
  height: 100%;
  margin: 50px auto;
}

#user-input {
  font-size: 2rem;
  height: 50px;
  width: 87%;
  padding-left: 5px;
  padding-top: 15px;
  border: none;
  background-color: inherit;
  outline: none;
  
}

.input-ctn{
  align-items: center;
  justify-content: center;
  position:relative;
  width: 100%;
  overflow: hidden;

}

.label-answer{
  position: absolute;
  bottom: 0px;
  pointer-events: none;
  border-bottom: 1px solid var(--font-color);
  height: 100%;
  width: 100%;
}

.label-answer::after{
  content: '';
  position: absolute;
  bottom: -1px;
  height: 100%;
  width: 100%;
  border-bottom: 3px solid var(--font-color);
  transform: translateX(-100%);
  transition: 0.3s ease;
}

/* #user-input:focus + .label-answer .content-answer, 
#user-input:valid + .label-answer .content-answer{
  transform: translateY(-180%);
  font-size: 0.8rem;
}

#user-input:focus + .label-answer::after, 
#user-input:valid + .label-answer::after{
  transform: translateX(0%);
} */

#user-input:focus + .label-answer .content-answer{
  transform: translateY(-180%);
  font-size: 0.8rem;
}

#user-input:focus + .label-answer::after{
  transform: translateX(0%);
}

.content-answer{
  position: absolute;
  top: 30px;
  transition: all 0.4s ease;
}

.result{
  position: absolute;
  top: 0;
}

.validate {
  margin-left: 10px;
  font-size: 3rem;
  cursor: pointer
}

.validate:hover{
  animation: swing 0.75s ease;
}

@keyframes swing{
  15%{
  transform: translateX(3px);
  }30%{
  transform: translateX(-3px);
  }50%{
  transform: translateX(2px);
  }65%{
  transform: translateX(-2px);
  }80%{
  transform: translateX(1px);
  }100%{
  transform: translateX(0);
  }
}

.validate:active{
  scale: 0.9;
}

.emoji-list {
  justify-content: space-evenly;
  margin-bottom: 75px;
}

.emoji {
  font-size: 3rem;
  animation: fade-in 1s;
}

@keyframes fade-in {
  from {
    opacity: 0;
    scale: 0.2;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

/* about section */

#about {
  position: absolute;
  top: 120px;
  width: 100%;
  margin: 50px auto;
  height: 300px;
  /* align-items: center; */
  justify-content: center;
}

.about-container {
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.about-title{
  font
}

.about-text {
  font-size: 1.2rem;
  line-height:2.3rem;
}

.fa-heart, .fa-js-square{
  font-size: 1.3rem;
}

.contact-text {
  font-weight: 300;
}

.socials{
  font-size: 2rem;
  width: 321px;
  align-items: center;
  justify-content: space-between;
}

.social-icons:hover{
  color: #374061e7
}