/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;600&family=Kavivanar&display=swap');

/* global reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: var(--font-color);
}

/* general styling */
:root {
  --bg-color: #f7f5e6;
  --font-color: #333a56;
}

body {
  font-family: 'Work Sans';
  background-color: var(--bg-color);
}

.is-flex {
  display: flex;
}

.hide {
  visibility: hidden;
}

/* header */
.nav {
  margin: 50px;
  justify-content: space-between;
  align-items: center;
}

/* main section */
.main-title {
  font-size: 4rem;
  font-weight: 300;
  text-align: center;
  margin: 50px auto;
}

#home {
}

#main-container {
  justify-content: center;
  align-items: center;
}

.left {
  height: 350px;
  width: 250px;
  border: solid 1px black;
  flex-direction: column;
  justify-content: flex-end;
}

.right {
  padding-left: 50px;
  flex-direction: column;
}

.rules-list li {
  line-height: 3rem;
  font-size: 1.5rem;
  margin-bottom: 35px;
}

.rules-list li::before {
  content: '📋';
  font-size: 1.5rem;
  margin-right: 25px;
}

#btn-start {
  font-weight: 600;
  font-size: 1.4rem;
  height: 70px;
  width: 300px;
  margin: 0 auto;
  border-radius: 50px;
  text-transform: uppercase;
}

#btn-start:active {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transform: translateY(-1px);
}

/* in-game section */
#in-game {
  position: absolute;
  top: 120px;
  left: 0;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#timer {
  width: 60%;
  height: 0.8rem;
  border-radius: 20px;
  margin: 25px auto;
  justify-content: center;
  align-items: center;
}

.time-counter {
  height: 80%;
  width: 98%;
  border-radius: 20px;
  background-color: var(--font-color);
}

.game-container {
  min-width: 300px;
  max-width: 50%;
  flex-direction: column;
  height: 100%;
  margin: 100px auto;
}

#user-input {
  font-size: 2rem;
  height: 50px;
  width: 100%;
  text-align: center;
}

.fa-keyboard {
  margin-left: 25px;
  font-size: 3rem;
  color: var(--font-color);
}

.emoji-list {
  justify-content: space-evenly;
  margin-bottom: 75px;
}

.emoji {
  font-size: 3rem;
}

/* about section */

#about {
  position: absolute;
  top: 120px;
  width: 100%;
  margin: 50px auto;
  height: 300px;
  /* align-items: center; */
  justify-content: center;
}

.about-container {
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.about-title{
  font
}

.about-text {
  font-size: 1.2rem;
}

.fa-heart, .fa-js-square{
  font-size: 1.3rem;
}

.contact-text {
  font-weight: 300;
}

.socials{
  font-size: 2rem;
  width: 321px;
  align-items: center;
  justify-content: space-between;
}

.social-icons:hover{
  color: #374061e7
}